<link href="/css/style.css" rel="stylesheet" type="text/css">
<!doctype html> 
<html>  
  <head>  
    <title>The <%=shopName%></title> 
  </head>  
  <body>  
    <h1> This is the Survey page </h1> 
    <form method="POST" action="survey-complete"> 
        First Name:<input id="first" type="text" name="first"/> 
        <br/>
        Last Name:<input id="last" type="text" name="last" />
        <br/> 
        Email:<input id="email" type="email" name="email"/>     
        <br/>
        Age:<input id="age" type="number" name="age" min="0"/>          <%# Age input added as a number type with minimum 0%>
        <br/>
        
        Category Consumed:
        

        <% for (let i = 0; i < productCategories.length; i++) {            <!--loop through productCategories array-->
             const cat = productCategories[i]; %>                           <!--assign varibale to current array value-->
          <input id="category-<%= i %>" type="radio" name="category" value="<%= cat %>" />  <!-- radio button for category -->
          <%= cat %> <!-- display category name -->
          
        <% } %>
        <br/>
        Student: <input type="checkbox" name="studentY" value="Yes"/> Yes
         
        <input type="checkbox" name="studentN" value="No"/> No
        <input type="submit" value="OK" /> 
    </form> 
</body>  
</html> 
